.authWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;  
  padding: 16px;
  gap:18px;
}

.authWrapper_top{
  height: 100%; 
  display: flex;
  flex-direction: column;
    align-items: center;
  justify-content: center;
}

.authWrapper_top_title{
  text-align: center;
}