.wrapper {
  display: flex;
  height: 100vh;
  background: var(--bg-primary);
  color: var(--text-primary);
  border-radius: 40px;
  padding: 16px;
}

.sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 16px;
}

.sidebar_top {
  padding: 16px;
}

.header {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 40px 0;
  display: flex;
  justify-content: space-between;
}

.header_title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.inputArea {
  position: relative;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background: var(--bg-secondary);
  border-radius: 40px;
  min-height: 192px;
}

.input {
  width: 100%;
  height: auto;
  max-height: 450px;
  border: none;
  background: transparent;
  padding-left: 8px;
  color: white;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  resize: none;
}

.messages {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.buttons {
  display: flex;
  gap: 8px;
}

.inputArea_actions {
  display: flex;
}

.main {
  width: 60%;
  background: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
  border-radius: 40px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.toolbarBtn {
  border: none;
  padding: 14px;
  color: var(--text-primary);
  width: auto;
  background-color: var(--control-secondary);
  font-size: 18px;
}

.exportBtn {
  border: none;
  background-color: var(--control-primary);
  padding: 14px;
  color: var(--text-invert);
  font-weight: 700;
  font-size: 18px;
}

.rightBtns {
  display: flex;
  gap: 8px;
}

.banner {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: contain;
}

.generatedGrid_wrapper {
    height: 100%;
    padding-top: 45px;
    width: 80%;
    margin: 0 auto;
}
 