.button {
  all: unset;  
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.button:active {
  filter: brightness(0.9);
}


.icon { 
  display: inline-flex;
  cursor: pointer;
}

.text {
  display: inline-flex;
}