.btn {
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 100px; 
  gap: 5;
}

.btn:active {
  background-color: #ffffff1a;
}

.btn:disabled {
  cursor: not-allowed;
  color: #999;
  background-color: #ffffff0d;
  transform: none;
}
