.btn {
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 100px; 
  gap: 5;
  cursor: pointer;
}

.btn:active {
    filter: brightness(0.9); 
}

.btn:disabled {
  cursor: not-allowed;
  color: #999;
  background-color: #ffffff0d;
  transform: none;
}
