.inputArea {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background: var(--bg-secondary);
  border-radius: 40px;
  min-height: 192px;
  max-height: 190px;
}

.input {
  width: 100%;
  min-height: 92px;
  max-height: 190px;
  resize: none;
  border: none;
  background: transparent;
  outline: none;
  padding-left: 8px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  overflow-y: hidden;
}

.selected_sizes_title {
  gap: 8px;
  margin-right: 8px;
  margin-top: 6.5px;
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
}

.selected_sizes_wrapper {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}

.selected_sizes_option {
  background-color: var(--bg-tertiary);
  padding: 6px 11px 7px 16px;
  display: flex;
  gap: 3px;
  border-radius: 41px;
}

.inputArea_selected_sizes {
  display: none;
}

.inputArea_selected_sizes.active {
  display: flex;
}

.inputArea_actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 8px;
}

.addResize,
.animate {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-primary);
  border: none;
  gap: 5px;
  padding: 14px;
  cursor: pointer;
  white-space: nowrap;
  background-color: var(--control-secondary);
}

.pulse{ 
  animation:pulseBorder8 1.2s infinite ease-in-out; 
}

.sendResizeOptionsToRender{ 
  animation:pulseBorder8 1.2s infinite ease-in-out;
  border-radius: 100%; 
}


@keyframes pulseBorder8 {
  0% {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1); 
  }
  50% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 1); 
  }
  100% {
    box-shadow: 0 0 0 1px rgb(255, 255, 255); 
  }
}



.mockupChat {
  display: inline-block;      
  white-space: pre-wrap;      
  line-height: 1.2;            
}


.mockupChat::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1em;
  margin-left: 4px;
  vertical-align: text-bottom;
  background: currentColor;
  animation: blink 1.4s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2; 
  }
  100% {
    opacity: 1;
  }
}
